/*global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* layout styles */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}

/* common component styles */

.header {
  background-color: hsl(240, 50%, 50%);
  color: white;
  padding: 0.5rem;
}

.unauthorized-access {
  color: red;
  padding: 2rem;
  font-size: 1.5rem;
}

.section h2 {
  text-align: left;
  padding: 1rem;
  background: linear-gradient(to right, hsl(39, 50%, 90%), white);
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.module {
  max-width: 90%;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  box-shadow: 2px 2px 5px 3px gray;
}
.module ul{
  list-style:none ;
}

.module h3 {
  background: hsl(240, 50%, 90%);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.module-item{
  margin-bottom: 2rem;
}
.module-item h4{
  text-align: left;
  padding: 0.5rem 2rem;
}
.module-item p{
  text-align: justify;
  padding: 0 1rem;
}

/* --------------page specific styles--------------------- */

/* login page styles */

.login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  max-width: fit-content;
  margin: 5rem auto;
  padding: 2rem;
  font-size: 2rem;
  text-align: left;
}

.login-form > label {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
.login-form input {
  margin-left: 1rem;
}

.login-form button {
  max-width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: inherit;
}
.login-form button:hover {
  cursor: pointer;
}

.login-form .login-error {
  font-size: 1.2rem;
  color: red;
  text-align: center;
}

/* student page styles */
